@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'), url('Sahel.woff2') format('woff2'), url('Sahel.woff') format('woff'), url('Sahel.ttf') format('truetype');
    font-weight: normal;
}

.pager .next>a,
.pager .next>span {
    float: left;
    background-color: #d1d1d1;
}

.pager li>a:focus,
.pager li>a:hover {
    color: #fff;
    background-color: #797676ab;
    border: 1px solid #ffffff;
}

body {
    direction: rtl;
    text-align: right;
    font-family: Sahel !important;
}

.intro-header .page-heading,
.intro-header .post-heading,
.intro-header .site-heading {
    padding: 97px 0 54px;
    color: #8f918e;
}

.caption,
.intro-header .page-heading,
.intro-header .site-heading,
footer .copyright {
    text-align: center;
    font-size: 40px;
}

.post-preview>a>.post-title {
    font-size: 30px;
}

.h3,
h3 {
    font-size: 20px;
}

.post-preview>.post-meta {
    color: #777;
    font-size: 18px;
    font-style: inherit;
    margin-top: 0;
}


/* The navigation menu */

.navbar {
    overflow: hidden;
    background-color: #333;
}


/* Navigation links */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The subnavigation menu */

.subnav {
    float: left;
    overflow: hidden;
}


/* Subnav button */

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: red;
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}


/* Style the subnav links */

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: block;
}