{% extends "base.html" %}
{% load static %}

{% block title_header %}
{{object.title}}
{% endblock title_header %}

{% block under_title %}
{{object.jcreated}}
{% endblock under_title %}

{% block title %}
| {{object.title}}
{% endblock title %}

{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">
                    <h1 class="alert alert-info">عنوان مقاله : {{object.title}}</h1>
                    <p>{{object.content | linebreaks}}</p>
                              
                </div>
            </div>
        </div>
    </article>
     <!-- Post Content -->
    <hr>
{% endblock content %}
   


 