{% extends "base.html" %}
{% load static %}

{% block title_header %}
{{blog.title}}
{% endblock title_header %}

{% block under_title %}
{{blog.jcreated}}
{% endblock under_title %}

{% block title %}
| {{blog.title}}
{% endblock title %}

{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{blog.content | linebreaks}}</p>
                              
                </div>
            </div>
        </div>
    </article>
     <!-- Post Content -->
    <hr>
{% endblock content %}
   


 